:root {
    --primary: #262a33;
    --accent: #43ffaf;
    --accent-darken: #10cc7c;
    --accent-lighten: #76ffe2;
    --success: #008000;
    --error: #ff4500;
    --black: #000000;
    --white: #ffffff;
}

[data-theme="jade"] {
    --primary: #262a33;
    --accent: #43ffaf;
    --accent-darken: #10cc7c;
    --accent-lighten: #76ffe2;
}

[data-theme="paper"] {
    --primary: #eeeeee;
    --accent: #444444;
    --accent-darken: #aaaaaa;
    --accent-lighten: #777777;
}

[data-theme="eco"] {
    --primary: #f5eec2;
    --accent: #416a59;
    --accent-darken: #0e3726;
    --accent-lighten: #a9c25d;
    --success: #a9c25d;
    --error: #363a60;
}

[data-theme="splash"] {
    --primary: #394f8a;
    --accent: #9cf6fb;
    --accent-darken: #e1fcfd;
    --accent-lighten: #e1fcfd;
    --success: #63bce5;
    --error: #ff6864;
}

[data-theme="retro"] {
    --primary: #11052c;
    --accent: #f43b86;
    --accent-darken: #ffe459;
    --accent-lighten: #ffe459;
    --success: #e1e8eb;
    --error: #ffe459;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--primary);
}

body,
.quote-input {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.theme-settings {
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--primary);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.theme-options {
    display: none;
    position: absolute;
    bottom: 2.2rem;
    right: 0;
    width: 80px;
    overflow: auto;
    border-radius: 0.5rem;
}

.theme-settings:hover .theme-options {
    display: block;
}

.theme-option {
    display: block;
    padding: 5px;
    padding-left: 1rem;
    background-color: var(--primary);
    font-size: 1rem;
    color: var(--accent);
    font-weight: bold;
    cursor: pointer;
}

.theme-option:hover {
    color: var(--accent-darken);
}

.container {
    background-color: var(--accent);
    color: var(--primary);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90%;
}

.progress,
.result {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: var(--accent);
    font-weight: bold;
}

.restart {
    position: absolute;
    background-color: transparent;
    border: 2px solid var(--accent);
    bottom: 2rem;
    font-size: 1rem;
    color: var(--accent);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.restart:hover,
.restart:focus {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--primary);
    outline: 0;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid var(--accent-darken);
    color: var(--primary);
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.quote-input:focus {
    border-color: var(--primary);
}

.correct {
    color: var(--success);
}

.incorrect {
    color: var(--error);
    text-decoration: underline;
}
